<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ログイン画面</title>
    <link href="style.css" rel="stylesheet" />
    <script src="https://unpkg.com/petite-vue" defer init></script>
  </head>
  <body>
    <div v-scope="Registraapp()">
      <p>ログイン</p>
      <form @submit.prevent="login_getData">
        <label>ユーザー名：<input type="text" v-model="username" /></label><br />
        <label>パスワード：<input type="password" v-model="password" /></label><br />
        <label><button type="submit">ログイン</button></label>
      </form>

      <p>新機会員登録に<a href="/New_member.html">戻る</a></p>
    </div>
  </body>
  <script src="script.js"></script>
</html>
