<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新規会員登録</title>
    <link href="style.css" rel="stylesheet" />
    <script src="https://unpkg.com/petite-vue" defer init></script>
  </head>
  <body>
    <p>Hello,World!</p>
    <p>新機会員登録</p>
    <div v-scope="Registraapp()">
    <!-- <form v-scope="Registraapp()"> -->
      <form @submit.prevent="submitData">
        <label>ユーザー名：<input type="text" v-model="username" /></label><br />
        <label>メールアドレス：<input type="email" v-model="email" /></label> <br />
        <label>パスワード：<input type="password" v-model="password" /></label> <br />
        <label>生年月日：<input type="date" v-model="HB" /></label><br />
        <label>プロフィール画像:<input type="file" accept=".png, .jpg, .jpeg" @change="onFileChange" /></label><br />
        <label>
          <figure><img :src="uploadImage" height="200" v-if="uploadImage" /></figure></label
        ><br />

        <button type="button">ゲスト</button>
        <button type="submit">登録</button>
      </form>

    
      <table border="1">
          <thead>
            <tr>
              <th>ID</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>生年月日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ data.user ? data.user.id : '' }}</td>
              <td>{{ data.user ? data.user.username : '' }}</td>
              <td>{{ data.user ? data.user.email : '' }}</td>
              <td>{{ data.user ? data.user.HB : '' }}</td>
            </tr>
          </tbody>
        </table>
        <p v-if="data.message">{{ data.message }}</p>
      </div>
    </div>

  </body>
  <script src="script.js"></script>
</html>
